.missions-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.missions-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.mission {
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}