.navbar-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

.navbar-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}