.learning-portal-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 10px;
}

.course-resources {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}